In [2]:
#probability of getting 3 when die is rolled
ns = 6 #n(S) = {1,2,3,4,5,6} sample space
na = 1 #n(A) = {3} Prefered outcome
pa = na/ns #P(A)
print("probability of getting 3 is:",pa)

probability of getting 3 is: 0.16666666666666666

In [3]:
#probability of atleast getting one head when a coin is tossed thrice
ns = 8
na = 7
pa = na/ns
print("Probability of getting atleast getting one head:",pa)

Probability of getting atleast getting one head: 0.875

In [4]:
#A glass jar contains 5 red, 3 blue and 2 green jelly beans.
#If a jelly bean is chosen at random from the jar,
#what is the probability that it is not blue?

ns = 10
na = 7
pa = na/ns
print("Probability of not blue jellybeans:",pa)

Probability of not blue beans: 0.7

In [5]:
#if the probability that person A will be alive in 20 years
#is 0.7 and te probability that person B will be alive in 
#20 years is 0.5, what is the probability that they will 
#both be alive in 20 years?

#These are independent events, so
P = 0.7*0.5
print("Probability that they will be alive after 20 years is:",P)

Probability that they will be alive after 20 years is: 0.35

In [6]:
def event_probability(n,s):
    return n/s

In [8]:
#A fair die is tossed twice. Find the probability of getting
#a 4 or 5 on the first toss and a 1,2, or 3 in the second toss.
pa = event_probability(2,6)  #probability of getting a 4 or 5 on the first toss 
pb = event_probability(3,6)  #probability of getting 1,2,3,in second toss
P = pa*pb
print("probability of getting a 4 or 5 on the first toss and a 1,2,or 3 in the second toss:",P)

probability of getting a 4 or 5 on the first toss and a 1,2,or 3 in the second toss: 0.16666666666666666

In [12]:
# A bag contains 5 white marbles, 3 black marbles and 2 green marbles.
#In each draw, a marbl is drawn from the bag
#and not replaced. In three draws, find the probability of obtaining white,
#black and green in that order.

ns = 10
pw = event_probability(5,10)
pb = event_probability(3,9)
pg = event_probability(2,8)
print("the probability of obtaining white, black and green in that order is:",(pw*pb*pg))

the probability of obtaining white, black and green in that order is: 0.041666666666666664

In [13]:
#sample space
cards = 52

#calculate the probability of drawing a heart or a club
hearts = 13
clubs = 13
heart_or_club = event_probability(hearts,cards) + event_probability(clubs,cards)
print(heart_or_club)

0.5

In [14]:
#calculate the probability of drawing an ace, king,or a queen

aces = 4
kings = 4
queens = 4
ace_king_or_queen = event_probability(aces, cards) + event_probability(kings, cards) + event_probability(queens, cards)
print(ace_king_or_queen)

0.23076923076923078

In [17]:
# calculate the probability of drawing a heart or an ace
aces = 4
hearts = 13
ace_of_heart=1
ace_or_heart = event_probability(aces, cards) + event_probability(hearts, cards) - event_probability(ace_of_heart, cards)
print(round(ace_or_heart,1))

0.3

In [20]:
#calculate the probability of drawing red cards or face cards
red_cards = 26
face_cards =12
red_face_cards = 6
red_or_face_cards = event_probability(red_cards,cards) + event_probability(face_cards,cards)
print(round(red_or_face_cards,1))

0.7

In [21]:
#Proabability of not getting 5 when a fair die is rolled
ns = 6 #n(S) = {1,2,3,4,5,6} sample space
na = 1 #n(A) = {5} Prefered outcome
pa = na/ns #P(A)
print("probability of getting 5 is:",1-pa)

probability of getting 5 is: 0.8333333333333334

In [22]:
# suppose you draw 2 cards from deck. you win if you get ace given that you draw a jack in first draw

cards = 52
j=4
ace = 4
pj = event_probability(j,cards)
pa = event_probability(ace,51)
pa_given_j=(pj*pa)/pj
print(pa_given_j)

0.0784313725490196

# Conditional Probability

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("student-mat.csv")
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

In [2]:
len(df)

395

In [3]:
df['grade_A'] = np.where(df['G3']*5 >= 80, 1,0)

In [4]:
df['high_absenses'] = np.where(df['absences'] >= 10,1,0)

In [5]:
df['count'] = 1

In [6]:
df = df[['grade_A','high_absenses','count']]
df.head()

   grade_A  high_absenses  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

In [9]:
final = pd.pivot_table(
        df,
        values='count',
        index=['grade_A'],
        columns=['high_absenses'],
        aggfunc=np.size,
        fill_value=0
)

In [10]:
print(final)

high_absenses    0   1
grade_A
0              277  78
1               35   5

In [13]:
total=final.iloc[0,0]+final.iloc[0,1]+final.iloc[1,0]+final.iloc[1,1]
p_a=(final.iloc[1,0]+final.iloc[1,1])/total
p_a

0.10126582278481013

In [16]:
p_b=(final.iloc[0,1]+final.iloc[1,1])/total
p_b

0.21012658227848102

In [19]:
p_c=(final.iloc[1,1])/total
p_c

0.012658227848101266

In [20]:
p_d=p_c/p_b
p_d

0.060240963855421686